<div class="root">
  <!-- Vite -->
  <button type="button" class="bg-black">
    <div class="blurred vite"></div>
    <svg
      width="32"
      height="32"
      viewBox="0 0 410 404"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        d="M399.641 59.5246L215.643 388.545C211.844 395.338 202.084 395.378 198.228 388.618L10.5817 59.5563C6.38087 52.1896 12.6802 43.2665 21.0281 44.7586L205.223 77.6824C206.398 77.8924 207.601 77.8904 208.776 77.6763L389.119 44.8058C397.439 43.2894 403.768 52.1434 399.641 59.5246Z"
        fill="url(#paint0_linear)"></path>
      <path
        d="M292.965 1.5744L156.801 28.2552C154.563 28.6937 152.906 30.5903 152.771 32.8664L144.395 174.33C144.198 177.662 147.258 180.248 150.51 179.498L188.42 170.749C191.967 169.931 195.172 173.055 194.443 176.622L183.18 231.775C182.422 235.487 185.907 238.661 189.532 237.56L212.947 230.446C216.577 229.344 220.065 232.527 219.297 236.242L201.398 322.875C200.278 328.294 207.486 331.249 210.492 326.603L212.5 323.5L323.454 102.072C325.312 98.3645 322.108 94.137 318.036 94.9228L279.014 102.454C275.347 103.161 272.227 99.746 273.262 96.1583L298.731 7.86689C299.767 4.27314 296.636 0.855181 292.965 1.5744Z"
        fill="url(#paint1_linear)"></path>
      <defs>
        <linearGradient
          id="paint0_linear"
          x1="6.00017"
          y1="32.9999"
          x2="235"
          y2="344"
          gradientUnits="userSpaceOnUse"
        >
          <stop stop-color="#41D1FF"></stop>
          <stop offset="1" stop-color="#BD34FE"></stop>
        </linearGradient>
        <linearGradient
          id="paint1_linear"
          x1="194.651"
          y1="8.81818"
          x2="236.076"
          y2="292.989"
          gradientUnits="userSpaceOnUse"
        >
          <stop stop-color="#FFEA83"></stop>
          <stop offset="0.0833333" stop-color="#FFDD35"></stop>
          <stop offset="1" stop-color="#FFA800"></stop>
        </linearGradient>
      </defs>
    </svg>
  </button>
  <!-- Svelte -->
  <button type="button" class="bg-black">
    <div class="blurred svelte"></div>
    <svg
      width="32"
      height="32"
      enable-background="new 0 0 98.1 118"
      viewBox="0 0 98.1 118"
      xmlns="http://www.w3.org/2000/svg"
      ><path
        d="m91.8 15.6c-10.9-15.7-32.6-20.3-48.2-10.4l-27.5 17.6c-7.5 4.7-12.7 12.4-14.2 21.1-1.3 7.3-.2 14.8 3.3 21.3-2.4 3.6-4 7.6-4.7 11.8-1.6 8.9.5 18.1 5.7 25.4 11 15.7 32.6 20.3 48.2 10.4l27.5-17.5c7.5-4.7 12.7-12.4 14.2-21.1 1.3-7.3.2-14.8-3.3-21.3 2.4-3.6 4-7.6 4.7-11.8 1.7-9-.4-18.2-5.7-25.5"
        fill="#ff3e00"></path><path
        d="m40.9 103.9c-8.9 2.3-18.2-1.2-23.4-8.7-3.2-4.4-4.4-9.9-3.5-15.3.2-.9.4-1.7.6-2.6l.5-1.6 1.4 1c3.3 2.4 6.9 4.2 10.8 5.4l1 .3-.1 1c-.1 1.4.3 2.9 1.1 4.1 1.6 2.3 4.4 3.4 7.1 2.7.6-.2 1.2-.4 1.7-.7l27.4-17.5c1.4-.9 2.3-2.2 2.6-3.8s-.1-3.3-1-4.6c-1.6-2.3-4.4-3.3-7.1-2.6-.6.2-1.2.4-1.7.7l-10.5 6.7c-1.7 1.1-3.6 1.9-5.6 2.4-8.9 2.3-18.2-1.2-23.4-8.7-3.1-4.4-4.4-9.9-3.4-15.3.9-5.2 4.1-9.9 8.6-12.7l27.5-17.5c1.7-1.1 3.6-1.9 5.6-2.5 8.9-2.3 18.2 1.2 23.4 8.7 3.2 4.4 4.4 9.9 3.5 15.3-.2.9-.4 1.7-.7 2.6l-.5 1.6-1.4-1c-3.3-2.4-6.9-4.2-10.8-5.4l-1-.3.1-1c.1-1.4-.3-2.9-1.1-4.1-1.6-2.3-4.4-3.3-7.1-2.6-.6.2-1.2.4-1.7.7l-27.4 17.5c-1.4.9-2.3 2.2-2.6 3.8s.1 3.3 1 4.6c1.6 2.3 4.4 3.3 7.1 2.6.6-.2 1.2-.4 1.7-.7l10.5-6.7c1.7-1.1 3.6-1.9 5.6-2.5 8.9-2.3 18.2 1.2 23.4 8.7 3.2 4.4 4.4 9.9 3.5 15.3-.9 5.2-4.1 9.9-8.6 12.7l-27.5 17.5c-1.7 1.1-3.6 1.9-5.6 2.5"
        fill="#fff"></path></svg
    >
  </button>
  <!-- Slack -->
  <button type="button" class="bg-black">
    <div class="blurred slack"></div>
    <svg
      version="1.1"
      id="Layer_1"
      xmlns="http://www.w3.org/2000/svg"
      xmlns:xlink="http://www.w3.org/1999/xlink"
      x="0px"
      y="0px"
      viewBox="0 0 270 270"
      style="enable-background:new 0 0 270 270;"
      xml:space="preserve"
    >
      <style type="text/css">
        .st0 {
          fill: #e01e5a;
        }
        .st1 {
          fill: #36c5f0;
        }
        .st2 {
          fill: #2eb67d;
        }
        .st3 {
          fill: #ecb22e;
        }
      </style>
      <g>
        <g>
          <path
            class="st0"
            d="M99.4,151.2c0,7.1-5.8,12.9-12.9,12.9c-7.1,0-12.9-5.8-12.9-12.9c0-7.1,5.8-12.9,12.9-12.9h12.9V151.2z"
          ></path>
          <path
            class="st0"
            d="M105.9,151.2c0-7.1,5.8-12.9,12.9-12.9s12.9,5.8,12.9,12.9v32.3c0,7.1-5.8,12.9-12.9,12.9
			s-12.9-5.8-12.9-12.9V151.2z"
          ></path>
        </g>
        <g>
          <path
            class="st1"
            d="M118.8,99.4c-7.1,0-12.9-5.8-12.9-12.9c0-7.1,5.8-12.9,12.9-12.9s12.9,5.8,12.9,12.9v12.9H118.8z"
          ></path>
          <path
            class="st1"
            d="M118.8,105.9c7.1,0,12.9,5.8,12.9,12.9s-5.8,12.9-12.9,12.9H86.5c-7.1,0-12.9-5.8-12.9-12.9
			s5.8-12.9,12.9-12.9H118.8z"
          ></path>
        </g>
        <g>
          <path
            class="st2"
            d="M170.6,118.8c0-7.1,5.8-12.9,12.9-12.9c7.1,0,12.9,5.8,12.9,12.9s-5.8,12.9-12.9,12.9h-12.9V118.8z"
          ></path>
          <path
            class="st2"
            d="M164.1,118.8c0,7.1-5.8,12.9-12.9,12.9c-7.1,0-12.9-5.8-12.9-12.9V86.5c0-7.1,5.8-12.9,12.9-12.9
			c7.1,0,12.9,5.8,12.9,12.9V118.8z"
          ></path>
        </g>
        <g>
          <path
            class="st3"
            d="M151.2,170.6c7.1,0,12.9,5.8,12.9,12.9c0,7.1-5.8,12.9-12.9,12.9c-7.1,0-12.9-5.8-12.9-12.9v-12.9H151.2z"
          ></path>
          <path
            class="st3"
            d="M151.2,164.1c-7.1,0-12.9-5.8-12.9-12.9c0-7.1,5.8-12.9,12.9-12.9h32.3c7.1,0,12.9,5.8,12.9,12.9
			c0,7.1-5.8,12.9-12.9,12.9H151.2z"
          ></path>
        </g>
      </g>
    </svg>
  </button>
  <!-- Discord -->
  <button type="button" class="bg-black">
    <div class="blurred discord"></div>
    <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 127.14 96.36"
      ><defs
        ><style>
          .cls-1 {
            fill: #5865f2;
          }
        </style></defs
      ><g id="图层_2" data-name="图层 2"
        ><g id="Discord_Logos" data-name="Discord Logos"
          ><g id="Discord_Logo_-_Large_-_White" data-name="Discord Logo - Large - White"
            ><path
              class="cls-1"
              d="M107.7,8.07A105.15,105.15,0,0,0,81.47,0a72.06,72.06,0,0,0-3.36,6.83A97.68,97.68,0,0,0,49,6.83,72.37,72.37,0,0,0,45.64,0,105.89,105.89,0,0,0,19.39,8.09C2.79,32.65-1.71,56.6.54,80.21h0A105.73,105.73,0,0,0,32.71,96.36,77.7,77.7,0,0,0,39.6,85.25a68.42,68.42,0,0,1-10.85-5.18c.91-.66,1.8-1.34,2.66-2a75.57,75.57,0,0,0,64.32,0c.87.71,1.76,1.39,2.66,2a68.68,68.68,0,0,1-10.87,5.19,77,77,0,0,0,6.89,11.1A105.25,105.25,0,0,0,126.6,80.22h0C129.24,52.84,122.09,29.11,107.7,8.07ZM42.45,65.69C36.18,65.69,31,60,31,53s5-12.74,11.43-12.74S54,46,53.89,53,48.84,65.69,42.45,65.69Zm42.24,0C78.41,65.69,73.25,60,73.25,53s5-12.74,11.44-12.74S96.23,46,96.12,53,91.08,65.69,84.69,65.69Z"
            ></path></g
          ></g
        ></g
      ></svg
    >
  </button>
</div>

<style>
  .root {
    width: 50%;
    display: flex;
    items-align: center;
    justify-content: center;
    padding-top: 3rem;
    padding-bottom: 3rem;
    border-radius: 0.75rem;
  }

  @media screen and (max-width: 768px) {
    .root {
      width: 100%;
    }
  }

  button {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    margin-right: 12px;
    border: 3px solid #1a1a1a;
    border-radius: 1rem;
  }

  button:focus {
    border: 3px solid #515151;
  }

  button > svg {
    position: absolute;
  }

  button:hover > .blurred {
    filter: blur(28px);
  }

  .blurred {
    width: 64px;
    height: 64px;
    filter: blur(32px);
  }

  .vite {
    background-image: linear-gradient(-45deg, #a846f5 50%, #6ebef9 50%);
  }

  .svelte {
    background-image: linear-gradient(-45deg, #6ebef9 50%, #eb5027 50%);
  }

  .slack {
    background-image: linear-gradient(-45deg, #e2b34b 50%, #65c2eb 50%);
  }

  .discord {
    background-image: linear-gradient(-45deg, #5a65ea 50%, #5a65ea 50%);
  }
</style>
