---
export type Props = {
  class?: string;
};

const props = Astro.props;
---

<div
  class={`mb-8 flex h-48 md:h-64 items-center justify-center rounded-lg border border-neutral-800 bg-[#1A1A1A] ${props.class}`}
>
  <slot />
</div>
