---
import type { MarkdownHeading } from "astro";

type Props = {
  headings: MarkdownHeading[];
  // The depth of the headings to display.
  depth: number;
  class?: string;
};

const props = Astro.props;
const filteredHeadings = props.headings.filter((heading) => heading.depth < props.depth + 1);
---

<aside class:list={["font-nunito", props.class]}>
  <ul class="w-56 list-none">
    {
      filteredHeadings.map((heading) => (
        <li>
          <a
            href={`#${heading.slug}`}
            class="w-full text-sm text-gray-300 no-underline hover:text-indigo-500"
          >
            {heading.text}
          </a>
        </li>
      ))
    }
  </ul>
</aside>
